header{
    height: 100px;
    background-color: aqua;
}

.container{
    width: 900px;
}

ul{
    text-align: center
}

li{
    display: inline-block;
    width: 100px;
    height: 200px;
    background-color: bisque;
}